.category-products{
    background-color: #FFF;
    padding: 0 0 123px 0;
}

h3.category-products-inner__title {
    color: #4A4E61;
    margin: 0 0 50px 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
}

.category-products-inner__list-item {
    width: 405px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.category-products-img {
    width: 405px;
    height: 376px;
    object-fit: cover;
    border-radius: 5px;
}

h4.category-products-title {
    color: #2C2E38;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    margin: 7px 0;
    height: 80px;
}

.category-products-price {
    color: #2C2E38;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    margin: 7px 0;

}
a.category-products-btn-basket {
    border-radius: 2px;
    border: 1px solid #F9F9F9;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
    color: #2C2E38;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 17.5px 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 228px;
}

.category-products-btn-see-more{
    color: #2C2E38;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding: 17.5px 40px;
    border-radius: 5px;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 164px;
}

.category-products-btns{
    display: flex;
    gap: 13px;
}

.category-products-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.category-products-list-color {
    display: flex;
    gap: 10px;
}
.category-products-list-color-item{
    width: 15px;
    height: 15px;
    border-radius: 1px;
    background-color: #6E7378;
    position: relative;
    cursor: pointer;
}

.category-products-list-color-item-active > span{
    width: 15px;
    height: 1px;
    background: #2C2E38;
    position: absolute;
    bottom: -3px;
}

.category-products-list-color {
    display: flex;
    gap: 10px;
    margin: 0 0 0 -9px;
}

.category-products-inner__list {
    display: flex;
    justify-content: space-between;
}

.see-also{
    padding: 100px 0 170px 0;
    background-color: #FFF;
}

.see-also-img {
    width: 306px;
    height: 309px;
}
.see-also-inner__list-item {
    width: 306px;
}

.see-also-wrap{
    gap: 17px;
}

.see-also-title {
    height: 50px !important;
}
.category-products-btn-basket.see-also-btn-basket {
    padding: 15px 20px;
    width: 174px;
}

.see-also-btn-see-more{
    width: 126px;
    padding: 17.5px 15px;
}

.see-also-btns {
    gap: 8px;
}


.category-products-slider-btns{
    display: flex;
    gap: 10px;
    margin: 10px 0 0 0;
}

.slider-category-prev,
.slider-category-next{
    cursor: pointer;
}

.category-products-slide{
    border-radius: 10px;
    width: 627px;
    object-fit: cover;   height: 500px;
}

.category-products-slider{
    width: 627px;

}

.category-products-slide > img{
    border-radius: 10px;
}

@media screen and (min-width: 320px) {
    .category-products-inner__title {
        line-height: normal !important;
    }
    .category-products-inner__list-item {
        width: 100%;
    }
    .category-products-img {
        width: 100%;
        height: 278px;
        object-fit: cover;
        border-radius: 8px;
    }
    .category-products-btns {
        display: flex;
        gap: 13px;
        flex-direction: column;
    }
    .category-products-btn-basket {
        width: 100% !important;
    }
    .category-products-btn-basket.see-also-btn-basket {
        width: 100% !important;
    }
    .category-products-slider {
        width: 100%;
    }
    .category-products-slide > img {
        border-radius: 10px;
        width: 100%;
    }
    .category-products-inner__list-slider {
        padding: 70px 0 0 0;
    }
    .category-products-slide.swiper-slide {
        width: 100%;
        margin: auto;
        height: 283px;
    }
}

@media screen and (min-width: 768px) {
    .category-products-img {
        width: 300px;
        height: 278px;
    }
    .category-products-inner__list-item {
        width: 300px !important;
    }
    .category-products-inner__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container-category-products {
        padding: 0 67px;
    }
    .category-products-inner__list-item.swiper-slide {
        margin-right: 32px !important;
    }
    .category-products-slide > img {
        border-radius: 10px;
        width: 645px;
        height: 501px;
    }
    .category-products-slide.swiper-slide {
        width: 645px;
        height: 501px;
    }
}


@media screen and (min-width: 1440px) {
    .container-category-products {
        padding: 0 67px;
    }
    .category-products-inner__list-item.swiper-slide {
        width: 405px !important;
    }
    .category-products-img {
        width: 405px;
        height: 376px;
        border-radius: 10px;
    }
    .category-products-btns {
        flex-direction: row;
    }
    .category-products-btn-basket {
        width: 228px !important;
    }
    .category-products-swiper-buttons{
        display: flex;
    }
    .see-also-btn-basket {
        width: 174px !important;
    }
    .swiper-slide.see-also-inner__list-item {
        width: 306px !important;
    }
    .container-category-products {
        padding: 0 70px;
    }
    .see-also-inner__list-item.swiper-slide {
        margin-right: 25px !important;
    }

    .see-also-img{
        width: 306px;
        height: 309px;
    }
    .swiper-category-products-1{
        width: 645px;
    }
    .container-category-products-2{
        display: flex;
        justify-content: space-between;
    }
    .category-products-inner__list-item.swiper-slide.see-also-inner__list-item{
        height: 547px;
    }
    .category-products-slide > img {
        border-radius: 10px;
        width: 627px;
        height: 501px;
    }
    .category-products-slider {
        width: 627px;
    }
    .category-products-inner__list-slider {
        padding: 0;
    }


}